@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,400;0,5..1200,500;0,5..1200,600;0,5..1200,700;0,5..1200,800;1,5..1200,400;1,5..1200,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    text-decoration: none;
    font-size: calc(1rem + 0.25vw);


}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Albert Sans';
    font-weight: 500;
    overflow-x: hidden; /* Prevent horizontal scrolling */

}
body {
    background-size: cover;
    background: rgb(255, 255, 255);

}

.content {
    padding: 0 5vw; 
    max-width: 100%; 
    box-sizing: border-box; 
}

main {    
    height: 85svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem; 

}

main h1, main h2, main h3 {
    max-width: 100%;
    word-wrap: break-word;
}

main h1 {
    font-size: calc(2rem + 3vw);

}

footer {
    margin-top: auto;
}

footer p {
    width: 100%;
    line-height: 130%;
    
}

.bluetext {
    color: #23b8cc;
    font-weight: 700;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color:#23b8cc;
    word-wrap: break-word;

}

@media (max-width: 600px) {
    .content {
        padding: 0 2vw; 
    }

    main h1 {
        font-size: calc(1.5rem + 4vw); 
    }

    main h2, main h3 {
        font-size: calc(1rem + 2vw);
    }
}